body {
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.toolbar img {
  margin: 0 16px;
}

.home-title {
  margin: 8px 0 0 8px;
  font-size: 12px;
  text-align: center;
  background: #fdde59;
  width: 60px;
  height: 45px;
  padding: 2px;
  line-height: 36px;
}

#home {
  color: #e94883;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 450px;
  width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  padding: 10px;
}
.comic-characters {
  width: 170px;
  height: 400px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.comic-list {
  list-style: none;
}

.comic-description {
  display: block;
  display: -webkit-box;
  max-width: 250px;
  line-height: 1.5;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px auto;
  text-align: justify;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.comic-details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 40px;
  padding: 20px 40px;
  border: 1px solid #eee;
  background: #fafafa;
}
.comic-details-info {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  text-align: justify;
  padding-left: 30px;
}

.comic-details-title {
  font-size: 20px;
  margin-bottom: 20px;
}
/* Footer */
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}
